{{#if success}}
<h1>Thanks! {{first}} {{last}}We'll keep in touch!</h1>
{{else}}
<h1>Sign up for our newsletter!</h1>
<form action="/contact" method="post">
    <input type="hidden" name="_csrf" value="{{csrf}}">

    <div class="row">
        <div class="col">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="firstName" id="firstName" placeholder="First">
                <label for="fieldName">First</label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="lastName" id="lastName" placeholder="Last">
                <label for="lastName">Last</label>
            </div>
        </div>
    </div>


    <div class="form-floating mb-3">
        <input type="email" class="form-control" name="email" id="fieldEmail" aria-describedby="emailHelp"
            placeholder="Email">
        <label for="fieldEmail" class="form-label">Email</label>
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{{/if}}