<!DOCTYPE html>
<html>

<head>
    <title>Meadowlark Travel</title>
    <link rel="stylesheet" href="/css/meadowlark.css">
</head>

<body>
    <header>
        <a href="/">
            <img src="/img/logo.png" alt="Meadowlark Travel Logo" class="center">
        </a>
    </header>
    {{{body}}}
</body>

</html>